################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LogAnalyzerLibrary/bin/Debug/net6.0
/LogAnalyzerLibrary/obj
